.text-primary {
  color: #007bff;
}

.bg-primary {
  background-color: #007bff;
}

.text-primary-light-1 {
  color: rgb(25.5, 136.2, 255);
}

.bg-primary-light-1 {
  background-color: rgb(25.5, 136.2, 255);
}

.text-primary-light-2 {
  color: rgb(51, 149.4, 255);
}

.bg-primary-light-2 {
  background-color: rgb(51, 149.4, 255);
}

.text-primary-light-3 {
  color: rgb(76.5, 162.6, 255);
}

.bg-primary-light-3 {
  background-color: rgb(76.5, 162.6, 255);
}

.text-primary-light-4 {
  color: rgb(102, 175.8, 255);
}

.bg-primary-light-4 {
  background-color: rgb(102, 175.8, 255);
}

.text-primary-light-5 {
  color: rgb(127.5, 189, 255);
}

.bg-primary-light-5 {
  background-color: rgb(127.5, 189, 255);
}

.text-primary-light-6 {
  color: rgb(153, 202.2, 255);
}

.bg-primary-light-6 {
  background-color: rgb(153, 202.2, 255);
}

.text-primary-light-7 {
  color: rgb(178.5, 215.4, 255);
}

.bg-primary-light-7 {
  background-color: rgb(178.5, 215.4, 255);
}

.text-primary-light-8 {
  color: rgb(204, 228.6, 255);
}

.bg-primary-light-8 {
  background-color: rgb(204, 228.6, 255);
}

.text-primary-light-9 {
  color: rgb(229.5, 241.8, 255);
}

.bg-primary-light-9 {
  background-color: rgb(229.5, 241.8, 255);
}

.text-secondary {
  color: #555;
}

.bg-secondary {
  background-color: #555;
}

.text-secondary-light-1 {
  color: #666666;
}

.bg-secondary-light-1 {
  background-color: #666666;
}

.text-secondary-light-2 {
  color: #777777;
}

.bg-secondary-light-2 {
  background-color: #777777;
}

.text-secondary-light-3 {
  color: #888888;
}

.bg-secondary-light-3 {
  background-color: #888888;
}

.text-secondary-light-4 {
  color: #999999;
}

.bg-secondary-light-4 {
  background-color: #999999;
}

.text-secondary-light-5 {
  color: #aaaaaa;
}

.bg-secondary-light-5 {
  background-color: #aaaaaa;
}

.text-secondary-light-6 {
  color: #bbbbbb;
}

.bg-secondary-light-6 {
  background-color: #bbbbbb;
}

.text-secondary-light-7 {
  color: #cccccc;
}

.bg-secondary-light-7 {
  background-color: #cccccc;
}

.text-secondary-light-8 {
  color: #dddddd;
}

.bg-secondary-light-8 {
  background-color: #dddddd;
}

.text-secondary-light-9 {
  color: #eeeeee;
}

.bg-secondary-light-9 {
  background-color: #eeeeee;
}

.text-light-background {
  color: #f4f4f4;
}

.bg-light-background {
  background-color: #f4f4f4;
}

.text-light-background-light-1 {
  color: rgb(245.1, 245.1, 245.1);
}

.bg-light-background-light-1 {
  background-color: rgb(245.1, 245.1, 245.1);
}

.text-light-background-light-2 {
  color: rgb(246.2, 246.2, 246.2);
}

.bg-light-background-light-2 {
  background-color: rgb(246.2, 246.2, 246.2);
}

.text-light-background-light-3 {
  color: rgb(247.3, 247.3, 247.3);
}

.bg-light-background-light-3 {
  background-color: rgb(247.3, 247.3, 247.3);
}

.text-light-background-light-4 {
  color: rgb(248.4, 248.4, 248.4);
}

.bg-light-background-light-4 {
  background-color: rgb(248.4, 248.4, 248.4);
}

.text-light-background-light-5 {
  color: rgb(249.5, 249.5, 249.5);
}

.bg-light-background-light-5 {
  background-color: rgb(249.5, 249.5, 249.5);
}

.text-light-background-light-6 {
  color: rgb(250.6, 250.6, 250.6);
}

.bg-light-background-light-6 {
  background-color: rgb(250.6, 250.6, 250.6);
}

.text-light-background-light-7 {
  color: rgb(251.7, 251.7, 251.7);
}

.bg-light-background-light-7 {
  background-color: rgb(251.7, 251.7, 251.7);
}

.text-light-background-light-8 {
  color: rgb(252.8, 252.8, 252.8);
}

.bg-light-background-light-8 {
  background-color: rgb(252.8, 252.8, 252.8);
}

.text-light-background-light-9 {
  color: rgb(253.9, 253.9, 253.9);
}

.bg-light-background-light-9 {
  background-color: rgb(253.9, 253.9, 253.9);
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-white-light-1 {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.text-white-light-2 {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.text-white-light-3 {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.text-white-light-4 {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.text-white-light-5 {
  color: white;
}

.bg-white-light-5 {
  background-color: white;
}

.text-white-light-6 {
  color: white;
}

.bg-white-light-6 {
  background-color: white;
}

.text-white-light-7 {
  color: white;
}

.bg-white-light-7 {
  background-color: white;
}

.text-white-light-8 {
  color: white;
}

.bg-white-light-8 {
  background-color: white;
}

.text-white-light-9 {
  color: white;
}

.bg-white-light-9 {
  background-color: white;
}

.text-error {
  color: #dc3545;
}

.bg-error {
  background-color: #dc3545;
}

.text-error-light-1 {
  color: rgb(223.5, 73.2, 87.6);
}

.bg-error-light-1 {
  background-color: rgb(223.5, 73.2, 87.6);
}

.text-error-light-2 {
  color: rgb(227, 93.4, 106.2);
}

.bg-error-light-2 {
  background-color: rgb(227, 93.4, 106.2);
}

.text-error-light-3 {
  color: rgb(230.5, 113.6, 124.8);
}

.bg-error-light-3 {
  background-color: rgb(230.5, 113.6, 124.8);
}

.text-error-light-4 {
  color: rgb(234, 133.8, 143.4);
}

.bg-error-light-4 {
  background-color: rgb(234, 133.8, 143.4);
}

.text-error-light-5 {
  color: rgb(237.5, 154, 162);
}

.bg-error-light-5 {
  background-color: rgb(237.5, 154, 162);
}

.text-error-light-6 {
  color: rgb(241, 174.2, 180.6);
}

.bg-error-light-6 {
  background-color: rgb(241, 174.2, 180.6);
}

.text-error-light-7 {
  color: rgb(244.5, 194.4, 199.2);
}

.bg-error-light-7 {
  background-color: rgb(244.5, 194.4, 199.2);
}

.text-error-light-8 {
  color: rgb(248, 214.6, 217.8);
}

.bg-error-light-8 {
  background-color: rgb(248, 214.6, 217.8);
}

.text-error-light-9 {
  color: rgb(251.5, 234.8, 236.4);
}

.bg-error-light-9 {
  background-color: rgb(251.5, 234.8, 236.4);
}

.text-success {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.text-success-light-1 {
  color: rgb(61.5, 175.8, 87.6);
}

.bg-success-light-1 {
  background-color: rgb(61.5, 175.8, 87.6);
}

.text-success-light-2 {
  color: rgb(83, 184.6, 106.2);
}

.bg-success-light-2 {
  background-color: rgb(83, 184.6, 106.2);
}

.text-success-light-3 {
  color: rgb(104.5, 193.4, 124.8);
}

.bg-success-light-3 {
  background-color: rgb(104.5, 193.4, 124.8);
}

.text-success-light-4 {
  color: rgb(126, 202.2, 143.4);
}

.bg-success-light-4 {
  background-color: rgb(126, 202.2, 143.4);
}

.text-success-light-5 {
  color: rgb(147.5, 211, 162);
}

.bg-success-light-5 {
  background-color: rgb(147.5, 211, 162);
}

.text-success-light-6 {
  color: rgb(169, 219.8, 180.6);
}

.bg-success-light-6 {
  background-color: rgb(169, 219.8, 180.6);
}

.text-success-light-7 {
  color: rgb(190.5, 228.6, 199.2);
}

.bg-success-light-7 {
  background-color: rgb(190.5, 228.6, 199.2);
}

.text-success-light-8 {
  color: rgb(212, 237.4, 217.8);
}

.bg-success-light-8 {
  background-color: rgb(212, 237.4, 217.8);
}

.text-success-light-9 {
  color: rgb(233.5, 246.2, 236.4);
}

.bg-success-light-9 {
  background-color: rgb(233.5, 246.2, 236.4);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

footer, header {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #555;
  color: #fff;
}

header {
  margin-top: 0.75rem;
}
header span {
  display: inline-block;
  padding: 0.75rem;
}

footer {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
}
footer .btn-primary {
  padding: 0.75rem;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #555;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px 0;
}
.card .card-title {
  font-size: 1.5rem;
  color: blue;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
  color: #777;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #818d6d;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #007bff;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #007bff;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #555;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #555;
}

.btn-light-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #f4f4f4;
}

.btn-outlined-light-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #f4f4f4;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #fff;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #fff;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #dc3545;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #dc3545;
}

.btn-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #28a745;
}

.btn-outlined-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: pink;
  border: 1px solid #28a745;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.profile-box {
  background-color: #555;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-title {
  font-size: 18px;
  color: #fff;
}

.profile-contact p {
  margin: 5px 0;
}

/*# sourceMappingURL=main.css.map */
